body {
  background-color: #5c7aea !important;
  padding: 2%;
}

h1,
h3 {
  color: white !important;
}

.card {
  background-color: #e6e6e6 !important;
}

.modal-m {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.heart-like-button {
  background-color: white;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart-like-button::before,
.heart-like-button::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart-like-button::before {
  top: -15px;
  left: 0;
}

.heart-like-button::after {
  left: 15px;
  top: 0;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after,
.heart-like-button.liked {
  background-color: #14279b;
}

.heart-like-button.liked {
  animation: liked 0.4s ease;
}

.nav {
  background-color: #96abf8;
  padding: 10px;
}

.title {
  color: #091353;
}

.nav-white {
  color: white;
}
